dl.formdetail_ * {
  box-sizing: border-box;
}

// 共通 first input
dl.formdetail_.customer_ {border: 0;}
dl.formdetail_:nth-of-type(1) {display: flex;flex-wrap: wrap;margin: 0 10px;
  dt, dd {padding: 0;width: 100%;}
  dt {border: 0;
    &:nth-of-type(2),&:nth-of-type(4) {display: none;}
  }
  dd {color: transparent;padding: 0 8px;
    input {width: 100%;display: block;max-width: 100%;margin: 0;}
    &:nth-of-type(2),&:nth-of-type(4),&:nth-of-type(5),&:nth-of-type(10) {
      margin-bottom: 30px;padding-bottom: 20px;border-bottom: 1px solid #ccc;position: relative;
      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -9px;
        background-color: #fff;
        left: 0;
        right: 0;
        width: 16px;
        height: 16px;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        margin: auto;
        transform: rotate(45deg);
      }
    }
  }
}

// 氏名　
dl.formdetail_:nth-of-type(1) {
  dd {
    &:nth-of-type(1),&:nth-of-type(2) {width: 100%;display: flex;justify-content: space-between;
      span {flex: 1;margin-top: -10px;
        &:first-child {padding-right: 4px;}
        &:last-child {padding-left: 4px;}
      }
    }
    &:nth-of-type(1) {}
    &:nth-of-type(2) {}
  }
}


// メールアドレス
dl.formdetail_:nth-of-type(1) {
  dt {
    &:nth-of-type(3) {
      margin-bottom: 10px;
    }
  }
  dd {
    &:nth-of-type(3) {margin-bottom: 8px;
      p.small_ {display: none;}
    }
    &:nth-of-type(4) p.small_ {color: #999;}
  }
}


// 住所
dl.formdetail_:nth-of-type(1) {
  dt {
    &:nth-of-type(6),&:nth-of-type(8),&:nth-of-type(9){
      img {display: none;}
    }
  }
  dd {
    &:nth-of-type(6) {
      display: flex;
    }
  }
}



// 共通　second password
dl.formdetail_.customer_ {border: 0;}
dl.formdetail_:nth-of-type(3) {
  dt, dd {padding: 0;}
  dt {border: 0;margin-bottom: 4px;
    &:nth-of-type(2),&:nth-of-type(4) {display: none;}
  }
  dd {color: transparent;padding: 0 8px;margin: 4px 0px;
    input {width: 100%;display: block;max-width: 100%;margin: 0;}
  }
}
dl.formdetail_:nth-of-type(1) dt:nth-of-type(5) {
    margin-bottom: 8px;
}
dl.formdetail_:nth-of-type(1) dt:nth-of-type(6) {
    order: 7;
    width: 50%;
    margin-bottom: 8px;
}
dl.formdetail_:nth-of-type(1) dd:nth-of-type(6) {
    order: 9;
    width: 50%;
    margin-bottom: 12px;
}
dl.formdetail_:nth-of-type(1) dt:nth-of-type(7) {
    order: 8;
    width: 50%;
    padding-left: 10px;
    margin-bottom: 8px;
}
dl.formdetail_:nth-of-type(1) dd:nth-of-type(7) {
    order: 10;
    width: 50%;
    padding-left: 20px;
    margin-bottom: 12px;
}
dl.formdetail_:nth-of-type(1) dt:nth-of-type(8) {
    order: 11;
    margin-bottom: 8px;
}
dl.formdetail_:nth-of-type(1) dd:nth-of-type(8) {
    order: 12;
    margin-bottom: 12px;
}
dl.formdetail_:nth-of-type(1) dt:nth-of-type(9) {
    order: 13;
    margin-bottom: 8px;
}
dl.formdetail_:nth-of-type(1) dd:nth-of-type(9) {
    order: 14;
    margin-bottom: 12px;
}
dl.formdetail_:nth-of-type(1) dt:nth-of-type(10) {
    order: 15;
    margin-bottom: 8px;
  }
dl.formdetail_:nth-of-type(1) dd:nth-of-type(10) {
    order: 16;
    margin-bottom: 12px;
}
dl.formdetail_:nth-of-type(1) dd:nth-of-type(9) p.small_ {
    display: none;
}
select#pref {
    -webkit-appearance: none;
    height: 28px;
    width: 80%;
    border-radius: 4px;
    padding: 5px 20px 5px 5px;
    background-image: url("//direct-teleshop.jp/img/usr/sb/common/select.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 18px 5px;
    box-sizing: border-box;
}

dl.formdetail_:nth-of-type(1) dt:nth-of-type(5) {
    margin-bottom: 8px;
}

.message_,dl.formdetail_:nth-of-type(2) {
    display: none;
}

dl.formdetail_:nth-of-type(3) dd p.small_ {
    display: none;
}

dl.formdetail_:nth-of-type(3) dd p.small_:last-child {
    display: block;
    color: #999;
    font-size: 11px;
}

.centertext_.customer_term_agree_ img {
    display: none;
}




